.menu {
  margin-bottom: 10px;
}

.menu__item {
  font-size: 12px;
  font-weight: 500;

  &:not(:last-child) {
    margin-right: 55px;
  }
}

h1.title {
  margin: 50px 0 25px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.flex_last {
  margin-bottom: 30px;
}

.key {
  font-size: 18px;
  font-weight: 600;
}

.value {
  font-size: 14px;
}

.modalflex {
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}